html {
    position: relative;
    min-height: 100%;
}

body {
  color: #333;
  background-color: #fafafa;
  margin: 0 0 65px;
}

#overlay {
  height: 100%;
  width: 100vw;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  background: black;
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

#overlay-content {
  position: relative;
    top: 5%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* resets */
/* fix this hover background */
a {
  color: white;
}

nav ul a:hover {
  background: transparent;
}

nav {
  background: none;
  border-bottom: 1px solid lightgrey;
  box-shadow: none;
  position: relative;
  z-index: 100;
}

.headerInfo {
  margin-left: 200px;
}

#category-list .frameworks a:hover {
  color: black;
}

#logo {
  color: black;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 20px;
  position: absolute;
  top: 15px;
  left: 20px;
}

#auth-list {
  position: absolute;
  right: 20px;
  top: 0;
}

#auth-list li a,
#category-list li a {
  color: #333;
}

#category-list li a {
  position: relative;
  top: 0;
  color: rgba(0,0,0,.44);
}

.frameworks {
  margin-top: 62px;
}

.frameworks a {
  text-transform: uppercase;
  font-weight: bold;
}

.framework-dropdown {
  text-transform: uppercase;
  color: grey;
  font-size: 42px;
}

.framework-dropdown:hover {
  color: white;
}

#background {
  color: white;
  background: #52658f;
}

#menu {
  top: 15px;
  right: 30px;
  display: none;
  position: absolute;
}

#exit {
  position: absolute;
  top: 15px;
  right: 30px;
}

#menu:hover,
#exit:hover {
  cursor: pointer;
}

/* doesn't show cursor on github link. Quick fix. */
.github-link:hover {
  cursor: pointer;
}

/* notFound */
.nothingFound {
 margin-top: 15%
}

#hero-img {
  background:
    /* top, transparent red, faked with gradient */
    linear-gradient(
      rgba(0, 0, 0, .4),
      rgba(0, 0, 0, .4)
    ),
    url(https://static.pexels.com/photos/38892/pexels-photo-38892.jpeg);
  background-size: cover;
  height: 500px;
  margin-top: 60px;
}

#hero-img p {
  position: relative;
  z-index: 10;
  color: #eee;
  padding-top: 110px;
  margin-top: 0;
  margin: 0 auto;
  font-size: 18px;
  width: 560px;
  margin-bottom: 20px;
  line-height: 32px;
}

#signup-button {
  position: relative;
  z-index: 10;
  display: block;
  width: 140px;
  line-height: 42px;
  text-align: center;
  background: #02b848;
  height: 42px;
  margin: 0 auto;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

#signup-button:hover {
  box-shadow: 0 20px 32px rgba(0,0,0,0.25), 0 14px 14px rgba(0,0,0,0.22);

}

/* wishlist */
.arrow-up {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid #474747;
  margin: 0 auto;
}
.arrow-up-active {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid orange;
  margin: 0 auto;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left:15px solid transparent;
  border-right:15px solid transparent;

  border-top:15px solid #474747;
  margin: 0 auto;
}

.arrow-down-active {
  width: 0;
  height: 0;
  border-left:15px solid transparent;
  border-right:15px solid transparent;

  border-top:15px solid #ff3333;
  margin: 0 auto;
}

.arrow-up:hover {
  border-bottom: 15px solid black;
}

.arrow-down:hover {
  border-top: 15px solid black;
}

.upvote-count {
  text-align: center;
}

#wishlist-title {
  padding-bottom: 30px;
  border-bottom: 1px solid lightgrey;
  position: relative;
}

#wishlist-title p {
  padding-bottom: 15px;
  display: inline;
  color: rgba(0,0,0,.44);
}

.wish-item {
  margin-top: 10px;
  border-bottom: 1px solid lightgrey;
}

.info {
  margin-bottom: 0;
}

#question-button  {
  letter-spacing: 1.2px;
  font-size: 12px;
  position: absolute;
  right: 0;
  padding-left: 7px;
  padding-right: 7px;
  line-height: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  margin-top: -20px;
  background: none;
  border: 1px solid #02b848;
  overflow: hidden;
  transition: .35s;
}

#question-button a {
  color: #02b848;
}

#question-button:hover > a {
  color: white;
  border: none;
}

#question-button:hover::after {
  transform: translateX(-16%) rotate(12deg);
}

#question-button:after {
  content: "";
  position: absolute;
  top: 0;
  left: -2px;
  width: 270%;
  height: 420%;
  background: #02b848;
  z-index: -1;
  transform-origin: bottom center;
  transform: translateX(calc(-105%)) rotate(12deg);
  transition: transform .35s;
}

.write-button {
  font-size: 10px;
  letter-spacing: 1.2px;
  margin-bottom: 30px;
  height: 42px;
  line-height: 42px;
  color: white;
}

.wish-question {
  font-size: 16px;
}

/* WriteQuestion.jsx */
#submit-question {
  border: 1px solid white;
  background: transparent;
  padding: 10px;
  width: 142px;
  height: 42px;
  border-radius: 20px;
  color: white;
}

#submit-question:hover {
  border: 1px solid #02b875;
  transition: .8s ease all;
}

#action-button {
  border: 1px solid #02b875;
  background: transparent;
  padding: 10px;
  width: 142px;
  height: 42px;
  border-radius: 20px;
  color: #02b875;
}

#action-button a {
  color: #02b875;
}

.form-field {
  margin-top: 30px;
}

.write-instructions {
  color: lightgrey;
}

.instruction-title {
  font-size: 20px;
  color: white;
  font-size: 72px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}


/*#submit-lesson {
  border: 1px solid #02b875;
  background: transparent;
  padding: 10px;
  width: 120px;
  border-radius: 20px;
  color: #02b875;
}

#submit-lesson a {
  color: #02b875;
}*/

#question-container {
  padding: 30px 0;
}

.input-area {
  width: 400px;
  margin: 0 auto;
}

/* Profilejsx */
#profile-container {
  margin-top: -160px;
  background: white;
  height: 430px;
  padding-top: 160px;
  position: relative;
}

.remove-margin {
  margin: 0;
}

#username {
  font-size: 32px;
  font-weight: bold;
  line-height: 38.4px;
}

.bio-container {
  padding-left: 0 !important;
}

.add-photo {
  margin-top: 20px;
}

#user-bio {
  color: rgba(0, 0, 0, .6);
  font-size: 18px;
}

#profile-img {
  position: absolute;
  right: 20%;
  top: 220px;
}

#profile-section {
  border-top: 1px solid lightgrey;
}

.section-title a {
  color: rgba(0, 0, 0, .4);
  font-size: 16px;
}

.section-title a:hover {
  color: black;
}

/* Input fields */
input[type=text] {
  border-bottom: 1px solid lightgrey;
}

input::-webkit-input-placeholder {
  color: #fff !important;
  font-size: 17px;
}

textarea::-webkit-input-placeholder {
  color: black;
  font-size: 17px;
}

input:-moz-placeholder { /* Firefox 18- */
  color: black;
  font-size: 17px;
}

textarea::-webkit-input-placeholder {
  color: black;
  font-size: 17px;
}

input::-moz-placeholder {  /* Firefox 19+ */
  color: black;
  font-size: 17px;
}

textarea::-webkit-input-placeholder {
  color: black;
  font-size: 17px;
}

input:-ms-input-placeholder {
  color: black;
  font-size: 17px;
}

textarea::-webkit-input-placeholder {
  color: black;
  font-size: 17px;
}

.card-1:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

textarea {
  color: rgba(0, 0, 0, .7);
  resize: none;
  height: 100px;
  border: 1px solid lightgrey;
  background: #fafafa;
}

textarea:focus {
  outline: none;
}

input[type=text]:focus:not([readonly]),
input[type=email]:focus:not([readonly]),
input[type=password]:focus:not([readonly]) {
  border-bottom: 1px solid lightgrey;
  box-shadow: none;
}

input[type=search]:focus:not([readonly]) {
  border-bottom: 1px solid lightgrey;
  box-shadow: none;
}

/* Lesson Card */
.img-circle {
   border-radius: 50%;
}

div.col.s10.authorName {
  padding-left: 35px;
}

.authorName a {
  color: #02b875;
}

.cardTop {
  margin-top: 2%;
  color: #02b875;
}

.title {
  font-family: sans-serif;
  font-weight: bold;
}

.title,
.description,
.read-more,
.heart {
  margin-left: 15px;
}

.heart-category {
  margin-left: 25px;
}

.delete {
  position: absolute;
  top: 80%;
  right: 20px;
}

.description {
  font-size: 18px;
  color: rgba(0,0,0,.44);
}
.on {
  color: rgba(0,0,0,.44);
}

.read-more a {
  color: rgba(0,0,0,.44);
}
.read-more {
  margin-top: 5%;
}

.btn {
  background-color: #02b875;
  box-shadow: none;
}

.btn:hover {
  background-color: #02b848;
}

.btn:hover {
  box-shadow: none;
}

/* WriteLesson.jsx */
.lesson-box {
  height: 350px;
}

ul.dropdown-content.select-dropdown li span {
  color: #02b875;
}

.caret {
  display: none;
}

.select-wrapper input.select-dropdown {
  text-align: center;
}

/* ReadLesson.jsx */
.lesson-body {
  font-family: "Arial", serif;
  line-height: 1.4em;
  font-size: 16px;
  color: rgba(0, 0, 0, .6);
  margin-bottom: 100px;
}

.lesson-title {
  margin-top: 100px;
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 0px;
}

.lesson-description {
  font-style: italic;
  font-size: 30px;
  color: rgba(0,0,0,.44);
}

.lesson-description,
.lesson-category {
  text-align: center;
}

.lesson-category a{
  font-size: 20px;
  color: #02b875;
}

footer {
  background: #474747;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 65px;
  width: 100%;
}

footer p {
  margin-left: 25px;
  color: lightgrey;
  padding-top: 10px;
  text-align: center;
}


@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

@media (max-width: 994px) {
  #wishlist-title {
    padding-bottom: 60px;
  }

  #question-button {
    letter-spacing: 1.2px;
    font-size: 12px;
    position: absolute;
    left: -5px;
    width: 150px;
    display: inline-block;
    top: 45px;
    background: none;
    border: 1px solid #02b848;
  }
}


@media (max-width: 755px) {
  #hero-img {
    margin-top: 0px;
  }

  #menu {
    display: block;
  }

  .hide-small,
  .frameworks {
    display: none;
  }

  .category-card {
    margin-top: 50px;
  }

  #profile-container {
    margin-top: -82px;
  }

  #profile-img {
    right: 18%;
    top: 150px;
  }
}

@media (max-width: 665px) {
  #hero-img p {
    width: 420px;
  }
}

@media (max-width: 605px) {
  #profile-img {
    top: 120px;
  }
}

@media (max-width: 563px) {
  #mobile-menu-title {
    font-size: 32px;
  }

  .framework-dropdown {
    font-size: 24px;
  }
}

@media (max-width: 500px) {
  #hero-img p {
    padding-top: 60px;
    width: 350px;
  }
}
