
.headerInfo {
  margin-left: 200px;
}

footer {
  background: #474747;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 65px;
  width: 100%;
}

footer p {
  margin-left: 25px;
  color: lightgrey;
  padding-top: 10px;
  text-align: center;
}

.dataStuff {
  height: 300px;
  width: 300px;
}


html {
    position: relative;
    min-height: 100%;
}

body {
  color: #333;
  background-color: #fafafa;
  margin: 0 0 65px;
}

footer {
  background: #474747;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 65px;
  width: 100%;
}

.analyzer {
  background: #b2d5ee;
  margin-top: -20px;
  margin-bottom: -20px;
}

#textarea2 {
  background: white;
  border-radius: 5px;
  height: 500px;
  outline: none;
}

#textarea1 {
  background: url(http://i.stack.imgur.com/ynxjD.png) repeat-y;
  font: normal 14px verdana;
  line-height: 25px;
  padding-left: 13%;
  padding-top: 3%;
  border: solid 1px #ddd;
  outline: none;
  height: 500px;
}
