
nav {
  margin-top: 1%;
  background: #fafafa;
  color: #4e4d43;
}

nav .nav-wrapper {
  color: black;
}


.btn {
  background: orange;
}

.btn:hover {
  background: orange;
}

.brand-logo {
  color:  #4e4d43 !important;
}

.bar {
  height: 50px;
  background: #efefef;
  margin-top: 3%;
  border-radius: 2px;
}

.hero {
  font-family: helvetica;
  align-items: center;
  text-align: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)), url('../img/hero.jpg');
  background-size: cover;
  min-height: 580px;
  padding-top: 28%;
  padding-left: 21%;
  padding-right: 21%;
  margin-bottom: 2%;
  color: black;
}

.heroText {
  font-size: 25px;
  font-weight: bold;
}

h3 {
  font-weight: bold;
}

.bigFiveTitle {
  font-weight: bold; /* big five */
  text-decoration: underline;
}

.big5 {
  margin-bottom: 10%;
}

#openness {
  padding-top: 6%;
  padding-left: 3%;
}

#extraversion {
  padding-top: 7%;
  padding-left: 4%;
}

#neuroticism {
  padding-top: 7%;
  padding-left: 3%;
}
.browser-default {
  font-size: 30px;
}

.middleSections {
  color: black;
  margin-bottom: 4%;
}

.explanation {
  color:black;
  font-size: 18px;
}

.userInfo {
  color: black;
  margin-top: 5%;
}

#name {
  font-weight: bold;
}

#scores {
  margin-top: 45%;
  padding-top: 100%;
}

.sidebar {
  margin-top: 5%;
  font-size: 18px;
}

.timeline {
  margin-top: 3%;
  background: #fafafa !important;
}

#doughnut {
  margin-top: 10%;
}

#line, #polar {
  margin-top: 15%;
}

#polar {
  padding-left: 15%;
}

.emailExp {
  padding-left: 20%;
  padding-right: 20%;
  font-size: 18px;
}

.journalBody {
  font-size: 16px;
  line-height: 2em;
}

.journalChart {
  margin-top: 4%;
  margin-left: 5%;
}

.readCard {
  padding-left: 2%;
  padding-right: 2%;
  min-height: 450px;
}

.read {
  background: green;
  margin-bottom: 2%;
  margin-left: 2%;
}

.read:hover {
  background: green;
}
.inline {
  display: inline;
}
.analyzerBtn {
  display: flex;
  justify-content: center;
  margin-top: 1%;
  margin-bottom: 2%;
}

#arrow {
  margin-top: 60%;
}

.results {
  padding-left: 6% !important;
  padding-top: 2% !important;
}

.font:hover {
  background: white
}

#btn2 {
  margin-top: 2%;
}

nav ul a:hover {
  background: transparent;
}

footer {
  background: #474747;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 65px;
  width: 100%;
}

footer p {
  margin-left: 25px;
  color: lightgrey;
  padding-top: 10px;
  text-align: center;
}

html {
    position: relative;
    min-height: 100%;
}

body {
  background-color: #fafafa;
  margin: 0 5% 65px 5%;
}


.analyzer {
  color: black;
  padding-top: 2%;
}

.analyzersize {
  max-height: 400px;
  max-width: 400px;
  min-height: 400px;
  min-width: 400px;
  margin-bottom: 200px;
}

.journalEntry {
  color: black;
  margin-bottom: -20px;
  padding-top: 2%;
  padding-bottom: 2%;
}

.entry {
  margin-top: 5%;
}
.strong {
  font-weight: bold;
}
.delete {
  background: #a70a0a;
  border-radius: 5%;
  margin-bottom: 2%;
}

.delete:hover {
  background: #a70a0a;
  border-radius: 5%;
}

.card {
  background: #fafafa;
}

.profile {
  background: white;
  border: 3px solid black;
}

#textarea2 {
  background: white;
  border-radius: 5px;
  height: 500px;
  outline: none;
}

#textarea1 {
  background: url(http://i.stack.imgur.com/ynxjD.png) repeat-y;
  font: normal 14px verdana;
  line-height: 25px;
  padding-left: 14%;
  padding-top: 4%;
  border: solid 1px #ddd;
  outline: none;
  height: 500px;
}

input[type=text]:focus:not([readonly]),
input[type=email]:focus:not([readonly]),
input[type=password]:focus:not([readonly]) {
  border-bottom: 1px solid black;
  box-shadow: none;
}

input[type=search]:focus:not([readonly]) {
  border-bottom: 1px solid black;
  box-shadow: none;
}

#action-button {
  border: 1px solid orange;
  background: transparent;
  padding: 10px;
  width: 142px;
  height: 42px;
  border-radius: 20px;
  color: orange;
}

#action-button a {
  color: orange;
}
