html {
    position: relative;
    min-height: 100%;
}

body {
  color: #333;
  background-color: #fafafa;
  margin: 0 0 65px;
}

/* resets */
/* fix this hover background */
a {
  color: white;
}

nav ul a:hover {
  background: transparent;
}

nav {
  background: none;
  border-bottom: 1px solid lightgrey;
  box-shadow: none;
  position: relative;
  z-index: 100;
}

#category-list .frameworks a:hover {
  color: black;
}

#logo {
  color: black;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 16px;
}

#auth-list li a,
#category-list li a {
  color: #333;
}

#category-list li a {
  position: relative;
  top: 0;
  color: rgba(0,0,0,.44);
}

#background {
  color: white;
  background: #52658f;
}

/* notFound */
.nothingFound {
 margin-top: 15%
}

/* hero */
#hero-img {
  background: url("https://static.pexels.com/photos/38892/pexels-photo-38892.jpeg");
  background-size: cover;
  height: 500px;
}

#hero-img:before {
  content: '';
	position: absolute;
	top: 160px;
  height: 500px;
	right: 0;
	left: 0;
	background-image: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .4));
  z-index: 1;
}

#hero-img p {
  position: relative;
  z-index: 10;
  color: #eee;
  padding-top: 80px;
  margin-top: 0;
  margin: 0 auto;
  font-size: 18px;
  width: 560px;
  margin-bottom: 20px;
  line-height: 32px;
}

#signup-button {
  position: relative;
  z-index: 10;
  display: block;
  width: 140px;
  line-height: 42px;
  text-align: center;
  background: #02b848;
  height: 42px;
  margin: 0 auto;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

#signup-button:hover {
  box-shadow: 0 20px 32px rgba(0,0,0,0.25), 0 14px 14px rgba(0,0,0,0.22);

}

/* wishlist */
.arrow-up {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid #474747;
  margin: 0 auto;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left:15px solid transparent;
  border-right:15px solid transparent;

  border-top:15px solid #474747;
  margin: 0 auto;
}

.arrow-up:hover {
  border-bottom: 15px solid black;
}

.arrow-down:hover {
  border-top: 15px solid black;
}

.upvote-count {
  text-align: center;
}

#wishlist-title {
  padding-bottom: 30px;
  border-bottom: 1px solid lightgrey;
  position: relative;
}

#wishlist-title p {
  padding-bottom: 15px;
  display: inline;
  color: rgba(0,0,0,.44);
}

.wish-item {
  margin-top: 10px;
  border-bottom: 1px solid lightgrey;
}

.info {
  margin-bottom: 0;
}

#question-button  {
  letter-spacing: 1.2px;
  font-size: 12px;
  position: absolute;
  right: 0;
  margin-left: 5px;
  padding-left: 7px;
  padding-right: 7px;
  display: inline-block;
  margin-top: -20px;
  background: none;
  border: 1px solid #02b848;
}

#question-button a {
  color: #02b848;
}
.write-button {
  font-size: 10px;
  letter-spacing: 1.2px;
  margin-bottom: 30px;
  height: 42px;
  line-height: 42px;
  color: white;
}

.wish-question {
  font-size: 16px;
}

/* WriteQuestion.jsx */
#submit-question {
  border: 1px solid white;
  background: transparent;
  padding: 10px;
  width: 142px;
  height: 42px;
  border-radius: 20px;
  color: white;
}

#submit-question:hover {
  border: 1px solid #02b875;
  transition: .8s ease all;
}

#action-button {
  border: 1px solid #02b875;
  background: transparent;
  padding: 10px;
  width: 142px;
  height: 42px;
  border-radius: 20px;
  color: #02b875;
}

#action-button a {
  color: #02b875;
}

.form-field {
  margin-top: 30px;
}

.write-instructions {
  color: lightgrey;
}

.instruction-title {
  font-size: 20px;
  color: white;
  font-size: 72px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}


/*#submit-lesson {
  border: 1px solid #02b875;
  background: transparent;
  padding: 10px;
  width: 120px;
  border-radius: 20px;
  color: #02b875;
}

#submit-lesson a {
  color: #02b875;
}*/

#question-container {
  padding: 30px 0;
}

.input-area {
  width: 400px;
  margin: 0 auto;
}

/* Profilejsx */
#profile-container {
  margin-top: -160px;
  background: white;
  height: 400px;
  padding-top: 160px;
}

#username {
  font-size: 32px;
  font-weight: bold;
  line-height: 38.4px;
}

#user-bio {
  color: rgba(0, 0, 0, .6);
  font-size: 18px;
}

#profile-img {
  margin-left: 6%;
}

#profile-section {
  border-top: 1px solid lightgrey;
}

.section-title a {
  color: rgba(0, 0, 0, .4);
  font-size: 16px;
}


/* Input fields */
input[type=text] {
  border-bottom: 1px solid lightgrey;
}

input::-webkit-input-placeholder {
  color: #fff !important;
  font-size: 17px;
}

textarea::-webkit-input-placeholder {
  color: black;
  font-size: 17px;
}

input:-moz-placeholder { /* Firefox 18- */
  color: black;
  font-size: 17px;
}

textarea::-webkit-input-placeholder {
  color: black;
  font-size: 17px;
}

input::-moz-placeholder {  /* Firefox 19+ */
  color: black;
  font-size: 17px;
}

textarea::-webkit-input-placeholder {
  color: black;
  font-size: 17px;
}

input:-ms-input-placeholder {
  color: black;
  font-size: 17px;
}

textarea::-webkit-input-placeholder {
  color: black;
  font-size: 17px;
}


.card-1:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

textarea {
  color: rgba(0, 0, 0, .7);
  resize: none;
  height: 100px;
  border: 1px solid lightgrey;
  background: #fafafa;
}

textarea:focus {
  outline: none;
}

input[type=text]:focus:not([readonly]),
input[type=email]:focus:not([readonly]),
input[type=password]:focus:not([readonly]) {
  border-bottom: 1px solid lightgrey;
  box-shadow: none;
}

input[type=search]:focus:not([readonly]) {
  border-bottom: 1px solid lightgrey;
  box-shadow: none;
}

/* Lesson Card */

.img-circle {
   border-radius: 50%;
}

div.col.s10.authorName {
  padding-left: 2%;
}

.authorName a {
  color: #02b875;
}

.cardTop {
  margin-top: 2%;
  color: #02b875;
}

.title {
  font-family: sans-serif;
  font-weight: bold;
}

.delete {
  margin-left: 80%;
}

.description {
  font-size: 18px;
  color: rgba(0,0,0,.44);
}
.on {
  color: rgba(0,0,0,.44);
}

.readMore a {
  color: rgba(0,0,0,.44);
}
.readMore {
  margin-top: 5%;
}

.btn {
  background-color: #02b875;
  box-shadow: none;
}

.btn:hover {
  background-color: #02b848;
}

.btn:hover {
  box-shadow: none;
}

/* WriteLesson.jsx */
.lesson-box {
  height: 350px;
}

/* ReadLesson.jsx */
.lesson-body {
  font-family: "Arial", serif;
  line-height: 1.4em;
  font-size: 16px;
  color: rgba(0, 0, 0, .6);
  margin-bottom: 100px;
}

.lesson-title {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 0px;
}

.lesson-description {
  font-style: italic;
  font-size: 30px;
  color: rgba(0,0,0,.44);
}

.lesson-description,
.lesson-category {
  text-align: center;
}

.lesson-category a{
  font-size: 20px;
  color: #02b875;
}

footer {
  background: #474747;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 65px;
  width: 100%;
}

footer p {
  margin-left: 25px;
  color: lightgrey;
  padding-top: 10px;
  text-align: center;
}
